*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vw;
    background-color: beige;
    display:flex;
    justify-content: center;
    align-items: center;

}
.box{
    width: 200px;
    height: 200px;
    background-color: indianred;
    text-align: center;
    
    /*transition-property: all;*/
    /*transform: rotateX(60deg) rotateY(120deg);*/
    transform: translate(-50px,-70px) rotate(80deg) scale(1.4);
    
}
.box:hover{
    width: 500px;
    height:500px;
    background-color: bisque;
    /*transition: 1s;
    transition-delay:2s ;
    transition-timing-function: ease-in-out;*/

        /*shorthand property ,transition-time, timing-function,delay */
    transition: all 1s ease-in-out 2s;
}
.box1{
    width: 200px;
    height: 200px;
    background-color:hotpink;
    /*transform: translateX(50px );
    transform:translateY(40px) ;
    transform: translate(50px, 40px);*/
    transform: perspective(300px) translate3d(80px, 80px, 30px);
}

.box1:hover{

}